@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Home{
    position: relative;
    min-height: 100vh;
    background-color: #0b1950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    color: white;
    font-size: 24px;
    opacity: 0;
    animation: to-bottom 1s ease forwards;
}
header nav a{
    font-size: 26px;
    margin-left: 78px;
    color: white;
    transition: .3s;
}
header nav .active,
header nav a:hover{
    color: #de12d0;
}
.text-box{
    width: 50%;
    z-index: 99;
}
.text-box h1{
    color: #de12d0;
    font-size: 85px;
    animation: to-right 1s ease forwards 1.3s;
}
.text-box h1:nth-child(2){
    color: white;
    font-size: 65px;
    animation-delay: 1.5s;
}
.text-box p{
    margin: 40px 0;
    font-size: 25px;
    width: 85%;
    color: #bababa;
    animation: to-right 1s ease forwards 1.7s;
}
.btn-box{
    display: flex;
    gap: 20px;
}
.btn{
    position: relative;
    color: white;
    padding: 15px 35px;
    font-size: 24px;
    border: 2px solid #de12d0;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    animation: to-right 1s ease forwards 1.9s;
}
.btn:hover,
.btn:nth-child(2){
    color: black;
    background-color: #de12d0;
    box-shadow: 0 0 15px #de12d0;
}
.btn:nth-child(2):hover{
    color: white;
    background: transparent;
    box-shadow: none;
}
.Home img{
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
.light,
.head{
    height: 100%;
    bottom: 0;
    right: 0;
}
.text-box *{
    opacity: 0;
}
.text-box span{
    opacity: 1;
}
/* keyframes */
@keyframes to-bottom {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes to-right {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes light {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
.light{
    animation: light 4s linear infinite .5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.head{
    animation: fade 1.5s ease forwards;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.gear{
    height: 40%;
    animation: fade 1s ease forwards, rotate 8s linear infinite;
    animation-delay: var(--delay);
}
.gear-1{
    right: 9.5%;
    bottom: -4%;
}
.gear-2{
    right: -2%;
    bottom: -15%;
}
.gear-3{
    right: -8.5%;
    bottom: 8%;
}